<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="net.albinoloverats.android.encrypt" android:versionCode="14" android:versionName="@string/version">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="23"/>
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="true">
		<activity android:name=".Main" android:label="@string/app_name" android:screenOrientation="portrait" android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name="net.albinoloverats.android.encrypt.lib.crypt.Encrypt" android:label="Encrypt"/>
		<service android:name="net.albinoloverats.android.encrypt.lib.crypt.Decrypt" android:label="Decrypt"/>
		<activity android:label="@string/app_name" android:name="com.lamerman.FileDialog" android:screenOrientation="portrait"/>
	</application>
</manifest>
