# desktop ignore
extra
bin
gen
pkg
src/encrypt_private.res
debian/encrypt/
build-stamp
configure-stamp
*.pem
*.crt
*.key
*.spc
# common files we don’t use
src/common/rand.c
src/common/rand.h
# android ignores
.gradle
.idea
local.properties
build
# android source isn't is src but desktop source is,
# and occasionally when switching branches is gets
# "left behind"
src
encrypt-free/lint-baseline.xml
encrypt-paid/lint-baseline.xml
encrypt-free/release
encrypt-paid/release
C-Thread-Pool
