# desktop ignore
extra
bin
gen
pkg
src/encrypt_private.res
src/common/misc.h
debian/encrypt/
build-stamp
configure-stamp
*.pem
*.crt
*.key
*.spc
# common files we don’t use
src/common/rand.c
src/common/rand.h
# android ignores
.gradle
.idea
local.properties
build
