[Desktop Entry]
Encoding=UTF-8
Icon=/usr/lib/encrypt/pixmap/encrypt.svg
Name=encrypt
Comment=Simple, X-platform encryption utility
Exec=encrypt
Terminal=False
Type=Application
Catagory=GTK;Utility
StartupNotify=false
