[Desktop Entry]
Encoding=UTF-8
Icon=/usr/lib/encrypt/pixmap/encrypt.xpm
Name=encrypt
Comment=Simple, X-platform encryption utility
Exec=/usr/lib/encrypt/encrypt
Terminal=False
Type=Application
Catagory=GTK;Utility
StartupNotify=false
