[Desktop Entry]
Encoding=UTF-8
Icon=encrypt
Name=encrypt
Comment=Simple, X-platform encryption utility
Exec=encrypt %f
Terminal=False
Type=Application
Categories=GTK;Application;Utility
StartupNotify=false
MimeType=application/x-encrypt
