Source: encrypt
Section: accessories
Priority: extra
Maintainer: Ashley Anderson <amanderson@albinoloverats.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: encrypt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A simple, X-platform, encryption application encrypt is a
 simple encryption application which is suitable for any modern OS. It
 uses the GTK to provide a graphical user interface, yet is equally
 usable from the command line.
